/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

// Local fonts (uncomment following lines)
@font-face {
  font-family: "San Francisco";
  src: font-url('sf/sanfranciscodisplay-ultralight-webfont.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: "San Francisco";
  src: font-url('sf/sanfranciscodisplay-thin-webfont.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: "San Francisco";
  src: font-url('sf/sanfranciscodisplay-regular-webfont.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: "San Francisco";
  src: font-url('sf/sanfranciscodisplay-medium-webfont.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: "San Francisco";
  src: font-url('sf/sanfranciscodisplay-semibold-webfont.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: "San Francisco";
  src: font-url('sf/sanfranciscodisplay-bold-webfont.woff') format('woff');
  font-weight: 700;
}

$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Helvetica", "San Francisco", "sans-serif";
$navbar-font: "San Francisco", "Helvetica", "sans-serif";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
