.card-instructor {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-body {
}

.banner-course-image {
  height: 50vh;
}

.banner-course-content {
  padding: 25px 0;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.course-overview {
  // height: 80vh;
  h1 {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 30px;
    background-color: #F9F9F9;
    padding: 20px 0;
  }
}

.banner-course-bio {
  font-size: 13px;
  padding-top: 30px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  i {
    font-size: 20px;

    &:hover {
      color: red;
    }
  }
}

.reviews-show {
  padding-bottom: 20px;
}

.review-content {
  font-size: 30px;
}

.review-by {
  font-size: 15px;
}
