/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner-home {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -70px;

  h1 {
  font-size: 50px;
  font-weight: bold;
  color: black;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
  font-size: 20px;
  font-weight: lighter;
  color: black;
  margin-bottom: 20px;
  }
}
