@import "home";
@import "courseshow";
@import "coursesindex";
@import "userprofile";
@import "dashboard";
@import "lectures";
@import "manage_courses";
@import "user_studio";
@import "about";
@import "payments";
