.manage-side-bar {

  text-align: left;
  padding-top: 55px;

  a {
    color: $frida-white;
  }

  p {
    margin: 0;
  }

  .btn-frida {
    padding: 15px 35px;
  }
}

h4 {
  font-size: 15px;
  font-weight: 300;
  width: 750px;
}

.course-card-manager {
  display: flex;
  background-color: $frida-light-grey;
  width: 750px;
  margin-bottom: 15px;
  height: 300px;
}

.course-card-img {
  flex: 1 0 30%;
  height: 100%;
  background-size: cover;
  transition: 0.5s;

  &:hover {
    opacity: 0.8;
    transition: 0.5s;
  }
}

.course-card-content {
  position: relative;
  flex-grow: 1;
  padding: 30px;

  h3 {
    font-size: 20px;
    font-weight: 400;
  }

  h4 {
    font-size: 15px;
    font-weight: 300;
  }

  p {
    margin: 0;
  }

  hr {
    margin-left: 0;
    width: 457px;
  }
}

.course-card-links {
  position: absolute;
  bottom: 30px;
}
