.user-show {
  margin-top: 24px;
  padding: 0 60px;

  h3 {
    font-weight: 300;
    margin-top: 0px;
  }
}

.user-side-bar {
  text-align: center;
  padding-right: 65px;

  a {
    color: #00abe9;
  }
}

.hr-medium {
  width: 750px;
}

.user-details {
  padding-top: 20px;

  p {
    margin: 0;
    font-size: 15px;
  }

}
.user-details i {

  &:hover {
    color: #AB2B2B;
    cursor: pointer;
  }

}


/*Vertical Sliding*/
.slidingVertical{
  display: inline;
  text-indent: 8px;
}
.slidingVertical span{
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateY(-50px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateY(-50px); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateY(-50px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.user-studio-gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 750px;

  img {
    margin-left: 10px;
    margin-right: 10px;
  }
  a {
    text-align: center;
  }
  .courses-box-slick {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.slick-prev:before, .slick-next:before {
  color: #ccc;
}

.slick-slide {
width: 200px;
height: 300px;
}

.edit-profile-info {
  margin: auto;
  p {
    margin: 0;
  }
  width: 600px;
}

.edit-profile-title {
  background-color: $frida-light-grey;
  text-align: center;
  padding: 15px 0;
  margin-top: 10px;
  width: 600px;

  p {
    margin-top: 10px;
    margin: 0;
    text-transform: uppercase;
    font-family: "San Francisco";
    font-size: 14px;
  }

  h2 {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
  }
}

.edit-profile-container {
  width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px;

  h3 {
    font-weight: 300;
  }
}


// .banner-user {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background-color: $frida-light-grey;
//   padding: 20px 0;
//   img {
//   border-radius: 50%;
//   }
// }

// .banner-bio {
//   padding: 25px 0;
//   width: 70%;
//   margin: 0 auto;
//   text-align: center;
//   i {
//     font-size: 20px;

//     &:hover {
//       color: $frida-red;
//     }
//   }
// }

// .banner-studio {
//   display: flex;
//   justify-content: center;
//   background-color: $frida-light-grey;
//   padding-bottom: 10px;
//   h2 {
//     font-size: 20px;
//   }
// }


