.user-studio-sidebar {
  height: 300px;
  width: 250px;
  border: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-right: 10px;
  margin-top: 20px;

  li {
    list-style: none;
  }

  ul {
    padding-left: 20px;
  }

  h4 {
    // margin-left: 20px;
  }
}

.hr-large {
  width: 828px;
}

.artworks-filter-all li {
  font-size: 15px;
  a {
    color: $frida-blue;
  }
}

.artworks-filter-names li {
  font-size: 12px;

  a {
    color: $frida-blue;
  }
}

.studio-uploads {
  display: inline-block;
}

.studio-upload-img {
  cursor: pointer;
  cursor: hand;
  background-size: cover !important;
  width: 200px;
  height: 300px;
  position: relative;
  transition: 0.5s;

  position: relative;
  display: inline-block;

  &:hover {
    transition: 0.5s;
    background-color: rgba(0,0,0,0.2);
  }
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $frida-red;
  color: $frida-white;
  text-align: center;
  padding: 3px 0;
  border-radius: 2px;
  position: absolute;
  top: 200px;
  left: 20%;
}

.studio-upload-img:hover .tooltiptext {
  visibility: visible;
}

// .modal {
//   z-index: 10500;
// }

.studio-right-column {
  padding-bottom: 20px;
}
