.user-show {
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;

  h3 {
    font-weight: 300;
    margin-top: 0px;
  }
}

.user-side-bar {
  text-align: center;
  padding-right: 65px;
}

.user-side-highlights {
  p {
    text-transform: uppercase;
    font-size: 15px;
    font-family: "San Francisco";
  }
}

.hr-medium {
  width: 750px;
}

.user-details {
  padding-top: 20px;

  p {
    margin: 0;
    font-size: 15px;
  }

  i {
    padding-bottom: 20px;
  }
}

/*Vertical Sliding*/
.slidingVertical{
  display: inline;
  text-indent: 8px;
}
.slidingVertical span{
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateY(-50px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateY(-50px); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateY(-50px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}




.banner-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $frida-light-grey;
  padding: 20px 0;
  img {
  border-radius: 50%;
  }
}

.banner-bio {
  padding: 25px 0;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  i {
    font-size: 20px;

    &:hover {
      color: $frida-red;
    }
  }
}

.banner-studio {
  display: flex;
  justify-content: center;
  background-color: $frida-light-grey;
  padding-bottom: 10px;
  h2 {
    font-size: 20px;
  }
}

.user-studio-gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 750px;

  img {
    margin-left: 10px;
    margin-right: 10px;
  }
  a {
    text-align: center;
  }
  .courses-box-slick {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.slick-prev:before, .slick-next:before {
  color: #ccc;
}

.slick-slide {
width: 200px;
height: 300px;
}

