<div class="courses-box courses-box-slick">
<% image_url = artwork.photo ? artwork.photo.path : "sample" %>
    <div class="card course-card card-course-slick" style="background-image: url('<%= cl_image_path image_url, crop: :fill %>');">
    <div class="card-course-name-slick"><h2><%= artwork.message %></h2></div>
    </div>
</div>
