<% content_for(:title_tag) do  %>
  frida - <%= @artwork.message.capitalize %> by <%= @artwork.user.full_name %>
<% end %>

<% if @artwork %>
  <%= render 'show_modal', artwork: @artwork, feedback: @feedback %>
<% else %>
  <p>No artwork currently.</p>
<% end %>
