<div class="footer">
  <div class="footer-content">

    <div class="footer-logo">
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo copy white.png" %>
      <% end %>
  </div>

    <div class="footer-adddress">
      <ul>7 Fitzroy Square</ul>
      <ul>Fitzrovia</ul>
      <ul>London W1T</ul>
    </div>

    <div class="footer-contact">
      <ul>+44 979 2005 6886</ul>
      <ul>contact@frida</ul>
    </div>

    <div class="footer-icons">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-dribbble" aria-hidden="true"></i>
      <i class="fa fa-github-alt" aria-hidden="true"></i>
    </div>

  </div>
</div>
