<div class="banner-home" style="background-image: url(<%= image_path 'home-banner.png' %>);">
  <div class="banner-content">
    <h1>the online art school</h1>
    <p>change your life, learn to paint</p>
    <a class="btn btn-primary btn-lg">START NOW</a>
  </div>
</div>
