<div class="banner-home" style="background-image: url(<%= image_path 'home-banner.png' %>);">
  <div class="banner-content">
    <h1>the online art school</h1>
    <p>change your life, learn to paint</p>
      <div class="banner-cta">
        <%= link_to "LEARN", courses_path, class: "btn btn-frida" %>
        <% if user_signed_in? %>
          <% if current_user.courses.count > 0 %>
            <%= link_to "TEACH", new_course_path, class: "btn btn-frida" %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
