
<div class="container">
  <div class="text-center course-heading">
    <h1>Studio</h1>
    <%= render 'courses/searchform' %>
  </div>
  <br>

   <ul>
    <li>
      <%= link_to "All (#{Artwork.all.count})", studio_path %>
    </li>
    <% @lectures.uniq.each do | lecture | %>
      <li>
      <%= link_to "#{lecture.title} (#{lecture.artworks.count})", studio_path(lecture: lecture.title) %>
      </li>
    <% end %>
  </ul>

    <% if @artworks.count > 0 %>
      <% @artworks.order(:id).each do |artwork| %>
        <div data-toggle="modal" data-target="#artwork">
          <%= render 'artworks/show', artwork: artwork %>
        </div>
      <% end %>
    <% end %>





</div>
