/* Main class */
.navbar-wagon {
  font-family: $navbar-font;
  z-index: 1000;
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: transparent;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.navbar-home {
  a {
    color: white;
    font-weight: 400;
  }
  .badge-container {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

.navbar-fixed {
  position: fixed;
  width: 100%;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 120px;
  margin-left: 30px;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: black;
  font-size: 14px;
  .fa-envelope-o {
  }
}
.navbar-wagon-link:hover {
  color: #AB2B2B;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
  background-color: transparent;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  // border: 1px solid #E6E6E6;
  // border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  background-color: transparent;
}
.navbar-wagon-search-input:focus  {
  // border: 1px solid #CCCCCC;
  background-color: white;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-wagon-dropdown-menu li > a > i {
  padding-right: 7px;
  color: $frida-red;
}

.navbar-wagon-item img {

  &:hover {
    transition: 0.2s;
    opacity: 0.5;
    background-color: black;
  }
}

.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-notifications li {
  a {
    background-color: white;
    // color: $frida-red !important;
    font-size: 12px !important;
  }

  &:hover {
    background-color: $frida-light-grey;
    // border-bottom: 1px solid #E6E6E6;
  }
}

