.subnav {
  background-color: $frida-light-grey;
  font-family: "San Francisco";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 3;
}

.subnav-container {
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.subnav-list ul {
  margin-bottom: 0;
  // width: 45%;

  li {
    width: 125px;
    text-align: center;
    margin-bottom: 0;
    color: $frida-grey;
    display: inline-block;
    list-style: none;

    a {
      color: $frida-grey;
      display: inline-block;
      // width: 25%;
      // padding: .75rem 0;
      margin: 0;
      text-decoration: none;
    }
  }
}

.subnav-link-two:hover ~ hr {
  margin-left: 125px;
}

.subnav-link-three:hover ~ hr {
  margin-left: 250px;
}

.subnav-link-four:hover ~ hr {
  margin-left: 375px;
}

hr.hr-subnav {
  height: .25rem;
  width: 125px;
  margin: 0;
  background: $frida-red;
  border: none;
  transition: .3s ease-in-out;
}

