   <% if feedback.author == feedback.student %>
    <div class="p-left">
      <%= unique_image_tag(feedback.author, :width=>40, :height=>40, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
      <div class="feedback-content">
        <%= feedback.content  %>
        <div class="triangle-left"></div>
      </div>
    </div>
  <% else %>
    <div class="p-right">
  <dive class="feedback-content">
    <%= feedback.content  %>
    <div class="triangle-right"></div>
  </dive>
      <%= unique_image_tag(feedback.author, :width=>40, :height=>40, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
    </div>
  <% end %>

