<% if @course.lectures != [] %>
  <% @course.lectures.each do |lecture| %>
    <div class="tab tab-title">
      <h2 class="tab--title">
        <div class="tab-icon"></div>
          Lecture <%=  %>
      </h2>


        <div class="content-block block-skin-grey clearfix">
          <h2 class="content-block-title"><%= lecture.title %></h2>
            <p><%= lecture.description %></p>
        </div>
    </div>
  <% end %>
  <% else %>
   <%= link_to "Add your first lecture", new_course_lecture_path(@course) %>
<% end %>

