
<div class="container">
<h1 class ='text-center'>Courses</h1>
  <div class="row">
  <% @courses.each do |course| %>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
      <div class="card-category"><%= course.category %></div>
      <div class="card-description"><h2><%= course.name %></h2>
      <p>Artist: <%= course.user.email %></p>
      </div>
      <%= link_to "", course_path(course), class: "card-link"  %>
    </div>
    </div>
  <% end %>
  </div>
</div>
