<% content_for(:title_tag) do  %>
  frida - add a course
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="text-center">
        <h1>Create A Course</h1>
      </div>
      <div class="padded">
        <%= render 'form' %>
        <br>
      <%= link_to "Back to Courses", courses_path %>
      </div>
    </div>
  </div>
</div>
