.achievement {
  width: 200px;
  height: 300px;
  background-color: $frida-red;

  &:hover {
  background-color: $frida-grey;
  }
}

.achievement-locked {
  background-color: $frida-light-grey;
  opacity: 50%;
  p {
    color: grey;
  }
}
