.achievement-badges{
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.achievement-participation {
  // align-items: flex-start;
  width: 220px;
  height: 250px;
  background-image: url('http://res.cloudinary.com/hw3i/image/upload/v1496400702/Badge1-Participation1_ogjxeo.png');
  background-repeat: no-repeat;
}

.achievement-three-participations {
  // align-items: flex-start;
  width: 220px;
  height: 250px;
  background-image: url('http://res.cloudinary.com/hw3i/image/upload/v1496400703/Badge2-Participation3_b1nhos.png');
  background-repeat: no-repeat;
}

.achievement-first-expressionism {
  // align-items: flex-start;
  width: 220px;
  height: 250px;
  background-image: url('http://res.cloudinary.com/hw3i/image/upload/v1496400702/Badge3-Category_fu8zwt.png');
  background-repeat: no-repeat;
}

.achievement-first-review {
  // align-items: flex-start;
  width: 220px;
  height: 250px;
  background-image: url('http://res.cloudinary.com/hw3i/image/upload/v1496400702/Badge4-Review_emmype.png');
  background-repeat: no-repeat;
}

.achievement-locked {
  width: 220px;
  height: 250px;
  background-color: $frida-light-grey;
  opacity: 0.2;
  p {
    color: grey;
  }
}

