/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
}
.alert-info {
  background: transparent;
  border-color: transparent;
}
.alert-warning {
  background: $frida-red;
}

.flash-absolute {
  position: absolute;
  top: 50px;
  left: 41%;
}
