textarea {
    resize: none;
    }

#course_review_content {
  height: 175px;
}

.course_review_form {
  padding-bottom: 30px;
  width: 100%;

  h3 {
    font-size: 20px;
    margin-top: 28px;
    font-weight: 400;
  }
}

#course_description {
  height: 200px;
}
