.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.tab {
  max-width: 750px;
  margin: 0.1em 0;

  // flex: 0 0 50%;
}

.tab-title {
  background-color: #FFFFFF;
  margin: 0px auto;
  border: 1px solid #EEEEEE;
}

.tab--title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $frida-grey;
  padding: 10px;
  transition: all 0.3s ease;
  margin: 0px !important;
  position: relative;
  &:hover {
    cursor: pointer;
    background-color: $frida-red;
    color: $frida-white;
    i {
      color: $frida-white;
    }
  }
}

.content-block {
  padding: 20px;
  display: none;
}

.content-block-title {
  font-size: 20px;
  margin: 0.9rem 0;
  font-weight: 600;
}

.block-skin-grey {
  background: #FFFFFF;
}

.tab-icon {
  height: 18px;
  width: 20px;
  background-image: image_url("plus.png");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 60%;
  margin-top: 5px;
}

.tab.active {
  background-color: $frida-red;
}


.tab.tab-title.active .tab--title {
  color: $frida-white;

  i {
    color: $frida-white;
  }
}

.tab.tab-title.active .tab-icon {
  height: 18px;
  width: 20px;
  background-image: image_url("minus.png");
}

.start-icon i {
  color: black;

  &:hover {
  color: $frida-white;
  }
}

.right-button {
  position: absolute;
  right: 31px;
  bottom: 14px;
}

