// .modal-dialog {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

// .modal-content {
//   height: auto;
//   min-height: 100%;
//   border-radius: 0;
// }

.modal-body {
  p {
    color: $frida-grey;
  }
}

.modal-heading {
  text-align: center;
  h4 {
    width: inherit;
  }
}

.p-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  font-size: 15px;
  padding-right: 10px;
  img {
    border-radius: 50px;
    margin-left: 10px;
  }
}

.p-left {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 15px;
  padding-right: 10px;
  img {
    border-radius: 50px;
    margin-right: 10px;
  }
}

.feedback-content {
  // border: 1px solid $frida-grey;
  background-color: $frida-light-grey;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

// .triangle-right {
//   position: absolute;
//   right: -5.7px;
//   top: 0px;
//   bottom: 0px;
//   margin: auto 0px;
//   height: 10px;
//   width: 10px;
//   border-right: 1px solid $frida-grey;
//   border-top: 1px solid $frida-grey;
//   transform: rotate(45deg);
//   background: white;
// }

// .triangle-left {
//   position: absolute;
//   left: -5.7px;
//   top: 0px;
//   bottom: 0px;
//   margin: auto 0px;
//   height: 10px;
//   width: 10px;
//   border-left: 1px solid $frida-grey;
//   border-bottom: 1px solid $frida-grey;
//   transform: rotate(45deg);
//   background: white;
// }

.artwork{
  width: 500px;
  height: 300px;
  margin: auto;
  background-size: cover;
  position: relative;
  &-pin{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #B95224;
    color: #B95224;
    padding: 1em;
    span {
      position: absolute;
    }
  }
}

#featured-star {
  color: #f4b400;
}

#featured-star-o {
  color: $frida-red;

}

.featured-text {
  a {
    color: $frida-red;
    font-size: 12px;
  }
}
