.show-card {
  width: 100%;
  height: 80px;
}

.show-card-image {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
}

.show-card-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800;
}

.materials-card {
  margin-top: 30px;

  i {
    font-size: 30px;
  }
}



