#sticky {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 15px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  #sticky {
    position: relative;
    padding-bottom: 25px;
  }
}
